<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{fragments :: head(~{::title},~{::link})}">
    <meta charset="UTF-8">
    <title>Chats</title>
    <link href="/css/homepage.css">
</head>
<body>
<section th:replace="~{fragments :: navbar}"></section>
<div class="container col-md-4 col-lg-6 col-sm-2" style="margin-top: 20px">
    <div th:object="${chat}">
        <h4 th:text="${chat.getStatus()}"></h4>
        <th:block th:each="message : ${chat.messages}">
            <p>[[${message.text}]] <sub> [[${message.createdAt}]]</sub></p>
        </th:block>
    </div>
    <form method="post" class="row g-3" th:action="@{'/chat/message?chatId='+${chat.id}}" >
        <div class="col-auto">
            <label for="InputText" class="visually-hidden">Text</label>
            <input type="text" class="form-control" id="InputText" placeholder="Write smth">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Send</button>
        </div>
    </form>
</div>
<section th:replace="~{fragments :: js_links}"></section>
</body>
</html>