<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head(~{::title},~{::link})}">
    <meta charset="UTF-8">
    <title>Chats</title>
    <link href="/css/homepage.css">
</head>
<body>
<section th:replace="~{fragments :: navbar}"></section>
<div class="container col-md-4 col-lg-6 col-sm-2" style="margin-top: 20px">
    <table class="table table-striped">
        <tbody>
        <th:block th:each="chat : ${chats}">
            <tr>
                <a th:href="@{'/chat/message?chatId='+${chat.id}}"
                   th:text="${chat.getVacancy().getEmployer().getCompanyName()}">
                </a>
                <p th:text="${chat.getVacancy().getEmployer().get}"></p>-->
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
<section th:replace="~{fragments :: js_links}"></section>
</body>
</html>