<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head(~{::title},~{::link})}">
    <title>Vacancy Get Page</title>
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div style="width: 50%;margin-left: 25%;margin-top: 20px">
    <a th:href="@{/home}" class="btn btn-secondary"> <- Back</a>
    <h1 th:text="${vacancy.title}"></h1>
    <p th:text="${vacancy.getEmp_form()}"></p>
    <p th:text="${vacancy.getEmp_type()}"></p>
    <p>Required work experience: [[${vacancy.getExperienceYear()}]]</p>
    <form method="post" action="/chat/create" th:if="${status eq null}">
        <input type="hidden" th:value="${vacancy.id}" name="vacancyId">
        <input type="hidden" value="link" name="text">
        <button type="submit" class="btn btn-success">Apply</button>
    </form>
    <p th:text="${vacancy.description}"></p>
</div>
</body>
</html>