<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head(~{::title},~{::link})}">
    <meta charset="UTF-8">
    <title>Vacancy Main page</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
</head>
<body style="color: white">
<section th:replace="fragments :: navbar"></section>
<div>
    <form>
        <div class="container-md">
            <h1 style="text-align: center; color: black"> Find the Employee you want </h1>
            <h4 style="text-align: center; color: #adb5bd"> Head Hundter is the easiest way to find employees</h4>
            <div class="input-group mb-3" style="text-align: center">
                <input type="text" class="form-control; col-md-5 offset-3" placeholder="Search" aria-label="Search"
                       aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">Search</span>
                </div>
            </div>
            <a class="btn-outline-info btn btn-warning" th:href="@{/vacancy/create}"> + Create</a>
        </div>
    </form>
</div>
<!--<section th:replace="fragments :: js_links"></section>-->
</body>
</html>