<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" href="/css/homepage.css">
</head>
<body>
<div class="supernova-dashboard supernova-dashboard_optimized-menu supernova-dashboard_bg-applicant-asia-1">
    <div class="supernova-dashboard-content">
        <div class="bloko-columns-wrapper">
            <div class="bloko-column bloko-column_xs-0 bloko-column_s-0 bloko-column_m-0 bloko-column_l-2"></div>
            <div class="bloko-column bloko-column_xs-0 bloko-column_s-8 bloko-column_m-10 bloko-column_l-10">
                <div class="supernova-dashboard-search"><h3 data-qa="bloko-header-3" class="bloko-header-promo-3">Найди
                    работу мечты</h3>
                    <div class="bloko-v-spacing bloko-v-spacing_base-6"></div>
                    <form action="/search/vacancy" data-hh-tab-id="searchVacancy" class="HH-VacancyMap-Form"
                          method="GET">
                        <div class="supernova-search-group">
                            <div class="supernova-search-group__input">
                                <fieldset class="bloko-input-text-wrapper"><input type="text" id="a11y-search-input"
                                                                                  placeholder="Профессия, должность или компания"
                                                                                  name="text" autocomplete="off"
                                                                                  data-qa="search-input"
                                                                                  class="bloko-input-text bloko-input-text_scale-large"
                                                                                  value=""></fieldset>
                            </div>
                            <fieldset data-search-type="searchVacancy"><input type="hidden" name="area" value="2759">
                            </fieldset>
                            <div class="supernova-search-group__submit supernova-search-group__submit_desktop-only supernova-search-group__submit_wide"
                                 data-qa="search-button">
                                <button class="bloko-button bloko-button_kind-primary bloko-button_scale-large bloko-button_stretched"
                                        type="submit" data-qa="search-button"><span><span
                                        class="supernova-search-submit-icon"><span
                                        class="supernova-icon supernova-icon_search"></span></span><span
                                        class="supernova-search-submit-text">Найти работу</span></span></button>
                            </div>
                            <div class="supernova-navi-advanced-search-icon"><a
                                    class="bloko-button bloko-button_icon-only-large bloko-button_scale-large"
                                    data-qa="advanced-search" href="/search/vacancy/advanced?hhtmFrom=main"><span
                                    class="bloko-button__icon"><svg width="16" height="16" viewBox="0 0 16 16"
                                                                    fill="none" xmlns="http://www.w3.org/2000/svg"
                                                                    class="bloko-icon bloko-icon_initial-gray-80"><path
                                    d="M3.33325 5.33337L8.66659 5.33337M8.66659 5.33337C8.66659 6.43794 9.56202 7.33337 10.6666 7.33337C11.7712 7.33337 12.6666 6.43794 12.6666 5.33337C12.6666 4.2288 11.7712 3.33337 10.6666 3.33337C9.56202 3.33337 8.66659 4.22881 8.66659 5.33337ZM7.33325 10.6667L12.6666 10.6667M7.33325 10.6667C7.33325 11.7713 6.43782 12.6667 5.33325 12.6667C4.22868 12.6667 3.33325 11.7713 3.33325 10.6667C3.33325 9.56214 4.22868 8.66671 5.33325 8.66671C6.43782 8.66671 7.33325 9.56214 7.33325 10.6667Z"
                                    stroke="var(--bloko-icon-color, var(--bloko-icon-color-default))"
                                    stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"></path></svg></span></a>
                            </div>
                        </div>
                    </form>
                    <div class="bloko-v-spacing bloko-v-spacing_base-6"></div>
                    <a class="supernova-dashboard-link-switch" href="/price?hhtmFrom=main"><span
                            class="bloko-text bloko-text_large">Я ищу сотрудника</span></a></div>
            </div>
            <div class="bloko-column bloko-column_xs-0 bloko-column_s-8 bloko-column_m-12 bloko-column_l-16">
                <div class="supernova-dashboard-footer">
                    <div class="supernova-dashboard-stats">
                        <div class="supernova-dashboard-stats__value">473&thinsp;694</div>
                        <div class="bloko-text"><span>резюме</span></div>
                    </div>
                    <div class="supernova-dashboard-stats">
                        <div class="supernova-dashboard-stats__value">6&thinsp;625</div>
                        <div class="bloko-text"><span>вакансии</span></div>
                    </div>
                    <div class="supernova-dashboard-stats supernova-dashboard-stats_secondary">
                        <div class="supernova-dashboard-stats__value">13&thinsp;267</div>
                        <div class="bloko-text"><span>компаний</span></div>
                    </div>
                    <div class="supernova-dashboard-footer-fill"></div>
                    <div class="supernova-dashboard-footer-app-buttons">
                        <div class="supernova-app-buttons"><a class="supernova-app-button supernova-app-button_ios"
                                                              target="_blank" rel="noreferrer"
                                                              href="/mobile?from=main_head&amp;hhtmFromLabel=main_head&amp;hhtmFrom=main"></a><a
                                class="supernova-app-button supernova-app-button_android" target="_blank"
                                rel="noreferrer"
                                href="/mobile?from=main_head&amp;hhtmFromLabel=main_head&amp;hhtmFrom=main"></a><a
                                class="supernova-app-button supernova-app-button_huawei" target="_blank"
                                rel="noreferrer"
                                href="/mobile?from=main_head&amp;hhtmFromLabel=main_head&amp;hhtmFrom=main"></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>